@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}


.tampil {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
}
.tampil-body {
	display: flex;
	height: 100vh;
	width: 100%;
	text-align: center;
	justify-content: center;
}

.tampil-body div {
	border-radius: 20px;
	padding: 20px;
	margin: auto;
	width: 50%;
	background-color: white;
}
.tampil-body button {
	cursor: pointer;
	font-size: 1.1em;
	text-align: center;
	border-radius: 20px;
	background-color: #DC143C;
	border: 0;
	margin-top: 20px;

	color: white;
	padding: 10px;
}
.maps button {
	cursor: pointer;
	font-size: 1.1em;
	text-align: center;
	border-radius: 20px;
	background-color: #DC143C;
	border: 0;
	margin-top: 20px;

	color: white;
	padding: 10px;
}
#submit {
	background: -webkit-linear-gradient(right,#ff6040,#ffa72c);
	border-radius: 26px;
	border: none;
	box-shadow: 0px 1px 8px #ffffff;
	cursor: pointer;
	font: "Raleway SemiBold",sans-serif,15px;
	height: 30px;
	margin: 0 auto;
	margin-top: 2px;
	margin-bottom: 5px;
	transition: 0.25s;
	width: 153px;
}

#submit a{
	text-decoration: none;
	font-size: 18px;
	color: lightgreen;
}
#submit a:hover{
	text-decoration: none;
	color: pink;
	font-size: 15px;
	background: -webkit-linear-gradient(right,#3B8B8D,#8B9A2E);
	border-radius: 26px;
	border: none;
	box-shadow: 0px 1px 8px #ffffff;
	cursor: pointer;
	height: 30px;
	margin: 0 auto;
	margin-top: 2px;
	margin-bottom: 5px;
	transition: 0.25s;
	width: 153px;
}












a {
	color: black;
}
a:hover {
	color: white;
}
.active {
	color: white;
}
.header {
	height: 65px;
	display: flex;
	background-color: #C29467;
	width: 100%;
	justify-content: space-around;

}
.header .satu h2 {
	font-weight: bold;
	
}
.header .satu {
	width: 50%;
	margin: auto 0;
	padding-left: 100px;
}
.header .dua {	
	width: 50%;
	margin: auto ;
}

.header ul li {
	font-size: 1.2em;
	display: inline-block;
	margin: 0 10px;
}
.judul button {
	cursor: pointer;
	font-size: 1.1em;
	text-align: center;
	border-radius: 20px;
	background-color: #DC143C;
	border: 0;
	margin-top: 20px;

	color: white;
	padding: 10px;
}
section {
	width: 100%;
	display: flex;
}
section .judul {
	font-size: 1.6em;
	width: 50%;
	padding: 100px;
}
section .judul p {
	line-height: 40px;
}
section .fotosamping img {
	width: 100%;
}
section .fotosamping {
	width: 50%;
}


.fix-img img {
	width: 100%;
}
.container {
	width: 100%;
	padding-top: 30px;
	background-color: #f8edeb;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col-3 {
	width: 22%;
	margin: 10px;


	
}
.col-3 button {
	border-radius: 20px;
	padding: 20px;
	background-color: #f4a261;
	color: white;
	width: 100%;
	margin: 5px 0;
	border: 0;
	cursor: pointer;
}
.col-3 button:hover {
	background-color: #e76f51;
}
.col-3 .produk {
	padding: 10px;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.col-3 .produk img {
	height: 200px;
}

.maul{
	padding: 0px 0px;
	background-color: #f8edeb;
	text-align: center;
	background-color: #C29467;
}
.musik {
	padding: 15px 0px;
	font-size: 8px;
	background-color: #f8edeb;
	text-align: center;
	background-color: #C29467;
}
.contact h2{ 
	padding-top: 50px;
	margin: auto; }

.contact {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

}

.contact form {
	width: 50%;
	margin: auto;
}
.contact form p {
	margin: 25px 0;

}
.contact form button {
	border-radius: 20px;

	padding: 10px;
	background-color: #f4a261;
	color: white;
	width: 100%;
	margin: 5px 0;
	border: 0;
	cursor: pointer;
}
.contact form input {
	width: 100%;
	border-radius: 20px;
	padding: 7px;
	margin-top: 20px;
	background-color: #fefae0;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border: 0;
}


.about {
	text-align: center;
	margin-top: 20px;
	
	padding: 50px;
}
